<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
<extension name="dsml.validation.generated.cerbac" point="org.eclipse.emf.validation.constraintProviders">
      <category id="edu.utd.cse.cerbac.validation.cerbac" mandatory="false" name="edu.utd.cse.cerbac.validation.cerbac"/>
      <constraintProvider cache="false" mode="Batch">
         <package namespaceUri="http://www.utd.edu/cse/Cerbac"/>
         <constraints categories="edu.utd.cse.cerbac.validation.cerbac"/>
      </constraintProvider>
   </extension>
   <extension name="dsml.validation.generated.cerbac" point="org.eclipse.emf.validation.constraintBindings"/>
</plugin>
